init.author.name = Denis Kuvikov
init.author.email = Denis Kuvikov
email=Kudenv.work@gmail.com 
registry = https://registry.npmjs.org/
#http-proxy = http://proxy:8080
#https-proxy = http://proxy:8080

